[submodule "Hand3DResearch"]
	path = Hand3DResearch
	url = https://github.com/SeanChenxy/Hand3DResearch.git
[submodule "Human-Video-Generation"]
	path = Human-Video-Generation
	url = git@github.com:yule-li/Human-Video-Generation.git
[submodule "hmr-survey"]
	path = hmr-survey
	url = git@github.com:tinatiansjz/hmr-survey.git
[submodule "HelloFace"]
	path = HelloFace
	url = git@github.com:becauseofAI/HelloFace.git
